

[tool.poetry]
name = "b3p"
version = "v0.0.2rc3"
description = "Command line tools for preprocessing of wind turbine blade models"
authors = ["wr1 <8971152+wr1@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "b3p" },
    { include = "utils"},
    # { include = "examples" }
]
include = ["examples/blade_test.yml"]

[tool.poetry.dependencies]
python = "^3.9.7"
pyarrow = "^15.0.2"
pandas = "^2.2.1"
numpy = "^1.26.4"
scipy = "^1.13.0"
ruamel-yaml = "^0.18.6"
fire = "^0.6.0"
vtk = "^9.3.0"
pyvista = "^0.43.5"
# ccblade = {git = "https://github.com/WISDEM/CCBlade.git", branch = "master", optional=true}
meshio = "^5.3.5"
h5py = "^3.11.0"


# [tool.poetry.extras]
# aero=["ccblade"] 


[build-system]
requires = ["poetry-core"] 
# ,"setuptools", "meson>=1.1", "numpy","ninja","wheel"]
build-backend = "poetry.core.masonry.api"

# [build-system]
# requires = ["setuptools", "meson>=1.1", "numpy","ninja","wheel"]
# build-backend = "setuptools.build_meta"
# 

[tool.poetry.scripts]
        b3p = "b3p.b3p_cli:main"
        b3p_slab_plot = "utils.slab_plot:main"
        b3p_drape_plot = "utils.drape_plot:main"
        b3p_aero = "b3p.ccblade_run:main"
        b3p_example = "utils.b3p_example:main"

# [tool.poetry.build]

# [tool.poetry]
# include = ["examples/**"]



